.c-newbie {
  color: #ababab;
  font-weight: bold;
}

.c-apprentice {
  color: #ffa500;
  font-weight: bold;
}

.c-novice {
  color: #eeee00;
  font-weight: bold;
}

.c-intermediate {
  color: #00ff00;
  font-weight: bold;
}

.c-expert {
  color: #00cfcf;
  font-weight: bold;
}

.c-master {
  color: #0000ff;
  font-weight: bold;
}

.c-wizard {
  color: #ee82ee;
  font-weight: bold;
}

.c-demon {
  color: #7f055f;
  font-weight: bold;
}

.c-orz {
  color: #ff0000;
  font-weight: bold;
}

.c-orz-first-letter {
  color: black;
  font-weight: bold;
}
